.tasker {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.tasker-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8rem;
}

.tasker-field input,
textarea {
  margin-left: 1rem;
  margin-top: 0.5rem;
}

.task-list{
  margin-top: 20px;
}
